<html>

<head>
    <meta charset="utf-8">
    <title>User Edit</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <center>
        <h1>User List</h1>
    </center>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form method="post" action="/update-user">
                    <td>+</td>
                    <td><input type="text" name="name" placeholder="Name"></td>
                    <td><input type="email" name="email" placeholder="Email"></td>
                    <td><button type="submit">Updatew</button></td>
                </form>
            </tr> {{#each users}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{formatDate this.created_at}}</td>
            </tr> {{/each}}
        </tbody>
    </table>
</body>

